@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    min-height: 100%;
}


.App {
    min-height: 100vh;
    height: max-content;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.country {
    overflow: hidden;
}

.country__image {
    object-fit: cover;
}

.dark-mode {
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 5;
}

.slider:before {
    @apply w-5 h-5 rounded-full dark:bg-slate-600;
    display: block;
    position: absolute;
    right: -0.55rem;
    top: -0.1rem;
    content: "";
}

.info-name {
    @apply font-semibold;
}

.info {
    @apply dark:text-slate-300 text-black font-light;
}

.description-text {
    @apply dark:text-slate-200;
}

.country-data {
    @apply dark:text-slate-400 text-slate-600 font-light;
}

.search {
    position: relative;
}

.search svg {
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    left: 0.5rem;
    top: -0.4rem;
}

.lds-hourglass {
    display: inline-block;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
@keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
}